<a href="https://colab.research.google.com/github/mohansaidinesh/Datasets/blob/main/lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [12]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error

In [3]:
data=pd.read_csv('https://raw.githubusercontent.com/mohansaidinesh/Machine-Learning/main/DataSets/company.csv')

In [4]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [6]:
x=data.iloc[:,0:3]
x

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [9]:
y=data.iloc[:,3:]
y

     Sales
0     22.1
1     10.4
2     12.0
3     16.5
4     17.9
..     ...
195    7.6
196   14.0
197   14.8
198   25.5
199   18.4

[200 rows x 1 columns]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [16]:
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [18]:
y_pre=model.predict(X_test)

In [20]:
print("mae",mean_absolute_error(y_test,y_pre))
print("r2 score",r2_score(y_test,y_pre))
print("mse",mean_squared_error(y_test,y_pre))

mae 1.2748262109549338
r2 score 0.9059011844150826
mse 2.9077569102710896

In [21]:
print("root mean sqaure ",np.sqrt(mean_squared_error(y_test,y_pre)))

root mean sqaure  1.7052146229349223